

.header {
  background-color:

 #2d8659;
  
  padding: 6px;
  color: black;
  font-size: 17px ;}
.footer {
 background-color: #2d8659;
  
  padding: 9px;
  color: black;
  font-size: 25px ;

}
.link
{
   background-color:#2d8659;

  padding: 12px;
  color: black;
  font-size: 12px ;
}

.link a {
  background-color:#2d8659;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.link a:hover {
  background-color: #ddd;
  color: black;
}
.esha {
  
 background-color: #2d8659 ;
  width: 500px;
  border: 50px solid white;
  padding: 50px;
 margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 400px;
  margin-left: 350px;
}
.you  {
   background-color: #2d8659;
  
  padding: 9px;
  color: black;
  font-size: 25px ;

  
}
  


.log a {
   background-color:#2d8659;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.log a:hover {
  background-color: #ddd;
  color: black;
}
.welcome {
 background-color: #2d8659;
  
  padding: 9px;
  color: black;
  font-size: 15px ;

}
.what {
 background-color: #2d8659;
  
  padding: 5px;
  color: black;
  font-size: 15px ;

}
.hello {
   background-color: #2d8659;
  
  padding: 9px;
  color: black;
  font-size: 15px ;

  
}
.an  {
   background-color: #2d8659;
  
  padding: 9px;
  color: black;
  font-size: 15px ;

  
}
.uni  {
   background-color: #2d8659;
  
  padding: 9px;
  color: black;
  font-size: 15px ;

  
}

.table a {
  background-color:white;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.table a:hover {
  background-color:#2d8659 ;
  color: black;
}
.ww {
   background-color: #2d8659;
  
  padding: 5px;
  color: black;
  font-size: 15px ;

  
}

.bb {
  
border-style: dashed;
border-color: #2d8659;
border-width: 6px;
  
}

.about a {
   background-color:#2d8659;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.about a:hover {
  background-color: #ddd;
  color: black;
}